<a href="https://colab.research.google.com/github/Anshuman-37/MLIS_Project_Ideal/blob/main/MLIS_ideal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Getting the text
### [Click here to get it from kaggle](https://www.kaggle.com/ninjacoding/breast-cancer-wisconsin-benign-or-malignant?select=tumor.csv)
### [Click here to go to the main archive of uci](https://archive.ics.uci.edu/ml/datasets/breast+cancer+wisconsin+%28original%29)
##### I am using the kaggle one I don't know how to use the other one.

In [15]:
import pandas as pd
df = pd.read_csv('/content/tumor.csv')
df.describe()

       Sample code number  Clump Thickness  ...     Mitoses       Class
count        6.830000e+02       683.000000  ...  683.000000  683.000000
mean         1.076720e+06         4.442167  ...    1.603221    2.699854
std          6.206440e+05         2.820761  ...    1.732674    0.954592
min          6.337500e+04         1.000000  ...    1.000000    2.000000
25%          8.776170e+05         2.000000  ...    1.000000    2.000000
50%          1.171795e+06         4.000000  ...    1.000000    2.000000
75%          1.238705e+06         6.000000  ...    1.000000    4.000000
max          1.345435e+07        10.000000  ...   10.000000    4.000000

[8 rows x 11 columns]